.info-certificate {
  background: linear-gradient(135deg, #5ea1c2, #2fb450);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.passive-certificate {
  background: linear-gradient(135deg, #cb2222, #5ea1c2);
}

.active-certificate {
  background: linear-gradient(135deg, #5ea1c2, #2fb450);
}

.wrapper-info-certificate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.wrapper-image-certificate {
  border-radius: 20px;
  display: flex;
  align-items: center;
  max-width: 350px;
}

.wrapper-info-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 175px;
}

.certificate-info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: start;
}

.certificate-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 15%;
}

.certificate-list-title {
  color: #fff;
  font-weight: 800;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень для заголовка */
}

.certificate-list-description {
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: none;
  text-decoration: none;
  font-family: "Mulish";
}

.passive-certificate-icon {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.line {
  /* background-color: #fcdb62; */
  background: linear-gradient(135deg, #fcdb62, #ff4141);
  width: 150px;
  height: 5px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.line::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #ff4141;
}
