.profile_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.profile_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.ustory_content {
	background-color: rgba(255, 224, 166, 0.843);
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
}

.uInfo_content {
	display: flex;
	align-items: center;
	gap: 20px;
}
.uidentify_text {
	color: var(--red);
}

.uidentify_name {
	color: var(--black);
	font-weight: 600;
}

.uLeft_content {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 20px;
	min-height: 400px;
	/* background: rgb(236, 236, 236); */
	border: 1px solid rgba(228, 225, 219, 0.698);
	gap: 20px;
}

.MuiPaper-root {
	box-shadow: none;
}

.uprofile_list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.ucenter_info {
	display: flex;
	gap: 20px;
	padding: 20px 20px;
	border-radius: 10px;
	min-height: 400px;
}

.uprofile_photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.uinfo_text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	font-weight: 600;
	color: var(--edo-zayavki-color);
}

.uphoto {
	min-height: 250px;
	border-radius: 10px;
	max-width: 250px;
}

/* Информация про организацию */

.uorg_content {
	display: flex;
	gap: 20px;
	min-height: 400px;
}

.uorg_info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
