.profile_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.profile_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.uInfo_content {
	display: flex;
	align-items: center;
	gap: 20px;
}

.uLeft_content {
	display: flex;
	flex-direction: column;
	background: rgb(236, 236, 236);
	border-radius: 10px;
	padding: 20px;
	background: rgb(236, 236, 236);
	min-height: 400px;
}

.uprofile_list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.uCenter_info {
	display: flex;
	gap: 20px;
	padding: 20px 20px;
	border-radius: 10px;
	min-height: 400px;
}

.uprofile_photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.uinfo_text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
.uphoto {
	min-height: 250px;
	border-radius: 10px;
	max-width: 250px;
}
