.table-certificate-list {
  width: 100%;
  border-collapse: collapse;
}

.table-certificate-list th,
.table-certificate-list td {
  padding: 10px 20px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-certificate-list td {
  padding: 5px 20px;
  max-width: 200px;
}

.table-certificate-list th {
  background-color: #f2f2f2;
}

.table-certificate-list td:first-child {
  max-width: 300px;
}
