/* Основной контейнер */
.ucalendar__content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	background: rgba(255, 255, 255, 0.397);
	border-radius: 16px;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	transition: all 0.3s ease-in-out;
}

/* Календарь */
.react-calendar {
	width: 100%;
	max-width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.092);
}

/* Кнопки */

.ucalendar__btn {
	transition: background-color 0.3s ease, color 0.3s ease;
	backdrop-filter: blur(10px);
	text-align: center;
	background-color: rgba(51, 234, 51, 0.413);
	padding: 10px;
	color: #ffffff96;
	border: none;
	border-radius: 19px !important;
}

.react-calendar__month-view__days {
	padding: 0 0 10px 10px;
	gap: 4px;
}

/* btn */
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root.Mui-disabled {
	border: none;
	color: #ffffff5d;
}

.profile.dark-mode.ucalendar__btn {
	background-color: rgba(0, 128, 0, 0.486);
}
.ucalendar__btn:hover {
	background-color: rgba(12, 212, 12, 0.738);
	border: none;
	color: #fff;
}
/* btn */

/* Подсвеченные даты с событиями */
.highlighted-date {
	background-color: rgba(192, 244, 118, 0.935) !important;

	color: rgb(0, 0, 0) !important;
	border-radius: 8px;
	backdrop-filter: blur(5px);
}
.react-calendar__tile--active {
	background-color: rgb(250, 201, 54) !important;
	border-radius: 10px;
}

.react-calendar__tile--now {
	background-color: rgba(250, 93, 49, 0.715) !important;
	color: #fff !important;
	border-radius: 10px;
}
.react-calendar__tile:hover {
	border-radius: 10px;
}
.profile.dark-mode .react-calendar button:hover {
	color: #333;
}

.calendar__event_card {
	display: flex;
	flex-direction: column;
	gap: 5px;
	background: linear-gradient(135deg, #ff6b6b, #ff8e8e);
	/* background: linear-gradient(135deg, #29d8a6a3, #ff6b6ba1); */
	border-radius: 16px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	color: #fff;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	padding: 10px;
	width: 100%;
}

.calendar__event_card:hover {
	transform: translateY(-8px);
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.calendar__event_title {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 2px;
	width: 100%;
	border-bottom: 1px solid #ffffff78;
	/* background: linear-gradient(135deg, #ff6b6b, #ff8e8e); */
}

.btn__add_event {
	display: flex;
	padding: 20px;
	outline: 1px solid rgba(188, 188, 188, 0.274);
}

.calendar__event_form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
	background: transparent !important;
}

/* DarkMode */
.profile.dark-mode .calendar__events-form-title {
	color: #fff;
}
/* DarkMode */

.calendar__event_content {
	display: flex;
	gap: 10px;
	align-self: stretch;
	flex-wrap: wrap;
}

.event__inp {
	align-self: stretch;
	width: calc((100% - 20px) / 2);
	border: none;
	padding: 15px 15px 15px 15px;
	resize: none;
	transition: background-color 0.2s ease-in-out;
	border-radius: 10px;
	align-self: stretch;
	background: transparent;
}
.profile.dark-mode .event__inp,
.profile.dark-mode .event__inp::placeholder {
	color: #fff;
}

input[type="time"]::-webkit-calendar-picker-indicator {
	filter: invert(50%) sepia(1) saturate(5) hue-rotate(180deg);
}

.event__inp:hover:not(:focus-visible) {
	background: rgba(160, 160, 160, 0.161);
}

.event__inp:focus {
	background: rgba(160, 160, 160, 0.161);
	outline: none;
}

.event__null {
	background: #000;
}

.show__events-content {
	position: relative;
}

.show__events-deletealltasks {
	content: "";
	position: absolute;
	top: 3px;
	right: 2%;
	align-self: flex-end;
	padding: 3px;
	max-width: 4px;
	width: 100%;
}

.show__events-deletealltasks:hover:not(:focus-visible) {
	background-color: #ffffff5a;
}
.show__events-deletealltasks--hidden {
	display: none;
}

.show__events-deletealltasks svg path {
	fill: #fff;
}

.show__events-deletealltasks svg:hover path {
	fill: #ffffffb1;
}

.calendar__tasks {
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-size: 15px;
}

.calendar__tasks-content {
	display: flex;
	gap: 10px;
	overflow: auto;
	border-bottom: 1px solid #ffffff78;
}

.calendar__tasks-value {
	max-width: 200px;
	width: 100%;
	overflow: auto;
}

.calendar__show--delete {
	align-self: flex-end;
	transition: all 0.2s ease-in-out;
}

.calendar__show--delete svg path {
	fill: rgba(233, 233, 233, 0.835);
}

.calendar__show--delete:hover path {
	fill: #fff;
}

.calendar__show--delete:hover {
	background-color: #ffffff5a;
}

/* DarkMode */
.profile.dark-mode .ucalendar__content {
	background: linear-gradient(
		112.1deg,
		rgb(32, 38, 57) 11.4%,
		rgb(63, 76, 119) 70.2%
	);
	border: none;
}

.profile.dark-mode .react-calendar {
	background: transparent;
	color: #fff;
}

.profile.dark-mode .react-calendar button {
	color: #fff;
}

.profile.dark-mode .show__events-content {
	background: linear-gradient(196deg, #84fab0db 0%, #8fd3f4 100%);
}
