/* Заголовок */
.calendar-title {
	color: orange;
}

/* ucalendar */
.rbc-off-range-bg {
	background: #e5454511;
	border-radius: 10px;
}

/* Ucalendar.css */
.rbc-toolbar {
	display: flex;
	padding: 10px;
	gap: 10px;
	border-radius: 8px;
	flex-direction: column;
	/* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}

.rbc-toolbar button {
	background-color: #3600b3a2;
	border-radius: 10px;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 8px 12px;
	cursor: pointer;
	border-radius: 10px !important;
	transition: background-color 0.3s;
}

.rbc-toolbar button:hover {
	background-color: #6200ea;

	color: #fff !important;
}

.rbc-toolbar button:focus {
	outline: none;
	box-shadow: 0 0 4px 2px rgba(98, 0, 234, 0.5);
	color: red !important;
}

.rbc-toolbar .rbc-btn-group > button {
	margin: 0 5px;
}

.rbc-toolbar-label {
	font-weight: bold;
	font-size: 1.2rem;
	color: #333;
}

.rbc-toolbar-label {
	order: 1;
}

.rbc-btn-group > button:first-child:not(:last-child) {
	background-color: #3600b3d0;
}

/* dark-mode */

.profile.dark-mode .rbc-toolbar {
	display: flex;
	flex-direction: column;
	background: transparent;
}

.profile.dark-mode .rbc-toolbar-label {
	color: #fff;
}
.profile.dark-mode .rbc-button-link {
	color: #fff;
}

.profile.dark-mode .rbc-month-header {
	display: flex;
}

.profile.dark-mode .rbc-today {
	border-radius: 10px;
	transition: border 0.2s ease-in-out;
	background: transparent;
	background: rgba(255, 166, 0, 0.209);
}

.profile.dark-mode .rbc-today:hover {
	background-color: #dfdfdf8a;
}
.profile.dark-mode .rbc-month-row + .rbc-month-row {
	border: none;
}
.profile.dark-mode .rbc-day-bg {
	border: none;
	border-radius: 10px;
}

.profile.dark-mode .ucalendar-title {
	color: #fff;
}

.profile.dark-mode .rbc-header {
	color: #fff;
	border: none;
}

.profile.dark-mode .form-paper {
	background: transparent;
}

.profile.dark-mode .form-paper-title {
	color: #fff;
}

.profile.dark-mode input {
	color: #000;
}

.profile.dark-mode input::placeholder {
	color: #000;
}
/* dark-mode */

.rbc-event-continues-prior {
	background-color: rgba(181, 102, 102, 0.966);
	max-width: 60px;
	transition: background-color 0.2s ease-in-out;
	border-radius: 7px;
}

.rbc-event-continues-prior:hover {
	background-color: rgb(217, 114, 114);
}

.rbc-event-continues-after {
	background-color: rgba(181, 102, 102, 0.966);
	max-width: 60px;
	transition: background-color 0.2s ease-in-out;
	border-radius: 7px;
}

.rbc-event-continues-after:hover {
	background-color: rgb(217, 114, 114);
}

.rbc-month-view {
	border: none;
	gap: 5px;
}

/* ucalendar*/

/* Календарь */
.react-big-calendar {
	min-height: 600px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.rbc-day-bg {
	transition: background-color 0.2s ease;
}

.rbc-day-bg:hover {
	background-color: #dfdfdf8a;
	cursor: pointer;
}

.react-big-calendar .rbc-day:focus {
	box-shadow: 0 0 0 3px rgba(25, 118, 210, 0.5);
	background-color: #e3f2fd; /* светлый фон при фокусе */
}

.react-big-calendar .rbc-day:active {
	background-color: #e0e0e0;
}

/* Стиль для формы */
.form-paper {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 20px;
	border-radius: 10px;
	/* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1); */
}

/* Стили для текстовых полей */
.text-field {
	margin-bottom: 16px;
	background-color: #ffffff;
	border-radius: 8px;
	padding: 10px;
	transition: all 0.3s ease;
}

.text-field:focus,
.text-field:hover {
	border-color: #1976d2;
	box-shadow: 0 0 5px rgba(25, 118, 210, 0.5);
}

.text-field:active {
	background-color: #f1f1f1; /* Цвет фона при активном элементе */
}

/* Стили для кнопки */
.submit-button {
	width: 100%;
	border-radius: 8px;
	padding: 10px;
	font-weight: bold;
	background-color: #1976d2;
	transition: background-color 0.3s ease;
}

.submit-button:hover {
	background-color: #1565c0;
}

.submit-button:active {
	background: red !important;
	background-color: #0d47a1;
}

.submit-button:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(25, 118, 210, 0.5);
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
	left: 0;
	max-width: 10px;
	height: 5px;
}

.event-card {
	display: flex;
	flex-direction: column;
	background: red;
	border-radius: 10px;
	padding: 15px;
	background: linear-gradient(360deg, #84faafd9 0%, #8fd3f4 100%);
	color: #fff;
}

.event-card-title {
	text-align: center !important;
}

.form-paper-title {
	text-align: center;
}

.ucalendar__form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background: #fff;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 15px;
}

.ucalendar__events-inp {
	padding: 15px;
	border: none;
	border: none;
	border: 1px solid rgba(225, 225, 225, 0.475);
	outline: none;
	padding: 10px 10px 10px 5px;
	border-radius: 8px;
	transition: background-color 0.2s ease-in-out;
	background: rgba(184, 184, 184, 0.208);
}

.ucalendar-sbt {
	background: rgba(255, 157, 157, 0.761);
	font-size: 14px;
	font-weight: 400;
	color: #ffffff86;
}

.ucalendar-sbt:hover:not(:focus-visible) {
	background: rgba(255, 157, 157, 0.913);
	color: #fff;
}

.ucalendar__events-inp:focus {
	outline: none;
	background: #6f6f6f42;
}

.ucalendar__events-inp:active {
	background: #6f6f6f23;
}

.ucalendar__events-inp[type="datetime-local"]::-webkit-calendar-picker-indicator {
	filter: invert(1);
}
