.form {
	display: flex;
	gap: 10px;
	background-color: rgb(238, 247, 255);
}
.form_errors-text {
	color: var(--red);
}

.reg_inp {
	padding: 13px 13px 13px 13px;
	transition: background-color 0.2s ease-in-out;
}

.reg_inp-select {
	padding: 13px 13px 13px 13px;
	transition: background-color 0.2s ease-in-out;
}
