.km__content {
	background-color: var(----km-content);
	padding: 20px 20px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.121);
	border-radius: 10px;
}
.km__nav {
	display: flex;
	gap: 10px;
	justify-content: flex-start;
	flex-wrap: wrap;
}

/* КМ КЛАССЫ */
.km__info-text {
	color: red;
	font-size: 20px;
	font-weight: 600;
}
