.pdf-viewer-content {
  background-color: #fff;
  border: 1px solid #d2d8dd;
  width: 20%;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.1s all;
  cursor: pointer;
}

.pdf-viewer-content:hover {
  border-color: #1650cf;
  background-color: #e7ecfc;
}

.pdf-viewer-content:hover .pdf-viewer-image {
  border-color: #1651cf82;
  background-color: #f6f7ff;
}

.pdf-viewer-content:hover .pdf-viewer-description {
  color: #8e8d8d;
}

.pdf-viewer-image {
  background-color: #f2f6fa;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  border: 1px solid #d2d8dd;
  transition: 0.1s all;
}

.pdf-viewer-image img {
  width: 50px;
}

.pdf-viewer-title {
  font-weight: 600;
}
.pdf-viewer-description {
  color: #a3a3a3;
  font-weight: 500;
  font-size: 15px;
}
