.addRequest__content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.request_form {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
}

.request_inp {
	max-width: calc((100% - 10px * 2) / 3);
}
