.addRequest__content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form_content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.request_form {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.request_inp {
	max-width: calc((100% - 10px * 2) / 3);
}
