.addRequest__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #fff;
}

.form_content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.121);
  justify-content: center;
  align-items: center;
}

.request_form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.req-select {
  padding: 10px;
  border-radius: 20px;
  outline: none;
}

.request_inp {
  /* max-width: calc((100% - 10px * 2) / 3); */
  width: 100%;
}


.wrapper-prev {
  width: 100%;
  margin: 20px 0 20px 0;
  padding: 15px 0;
}

.title {
  background-color: #607d8b;
  width: 100%;
  padding: 15px 30px;
  border-radius: 50px;
  margin-bottom: 20px;
}

.title p {
  font-weight: bold;
  color: #fff;
}

.wrapper-table {
  width: 100%;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: start;
  padding-bottom: 15px;
  /* font-weight: 600; */
}

.table-data {
  border: 1px solid #000;
  padding: 20px;
}

/* EFFECT BUTTON */

.pushable {
  position: relative;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: 20px;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: rgb(36, 47, 52);
  transform: translateY(2px);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: rgb(61, 78, 87);
}
.front {
  display: block;
  position: relative;
  padding: 7px 20px;
  border-radius: 12px;
  font-size: 16px;
  color: white;
  background: rgb(96, 125, 139);
  transform: translateY(-4px);
  transition: ease-in-out 0.1s;
}

.pushable:hover .front {
  transform: translateY(-6px);
}
.pushable:hover .shadow {
  transform: translateY(4px);
}
.pushable:active .front {
  transform: translateY(-2px);
}
.pushable:active .shadow {
  transform: translateY(1px);
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}
