.uchartshort__content {
	display: flex;
	justify-content: space-between;
}

.uchartshort__left {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.acountBalanceIcon {
	fill: #fff;
}

.gift__text {
	max-width: max-content;
}
.uchartshort__right {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.trendingUpIcon {
	fill: #fff;
	align-self: flex-end;
}
