.uchartshort__content {
	display: flex;
	justify-content: space-between;
	color: #fff;
}

.uchartshort__left {
	display: flex;
	flex-direction: column;
	gap: 15px;
	font-size: 12px;
	margin-right: 120px;
}

.acountBalanceIcon {
	fill: #fff;
}

.gift__text {
	max-width: max-content;
}
.uchartshort__right {
	display: flex;
}

.trending-icon-content {
	display: flex;
	align-items: center;
	gap: 5px;
	align-self: center;
}

.trendingUpIcon {
	fill: #00f8a5;
	align-self: flex-end;
}
.trending-icon-text {
	color: #00f8a5;
}

.static-text {
	max-width: 150px;
}
