.saleschart__content {
	display: flex;
	flex-direction: column;
}

/* .saleschart__content {
	background-color: rgba(0, 0, 0, 0.284);
} */

.saleschart__info_text {
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	padding: 20px;
}
.saleschart__desc {
	color: #fff;
}
