/* .wrapper-prev {
	width: 100%;
	background-color: #fff;
	margin: 20px 0 20px 0;
	padding: 15px 0;
}

.wrapper-identification {
	border: 2px solid rgba(128, 128, 128, 0.184);
	padding: 20px 0 20px 0;
}

.wrapper-identification h1 {
	font-weight: 400;
	text-align: center;
} */

.uidentity_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uidentity_form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px 0;
}

.uidentity_inp {
  width: calc((100% - 10px) / 2);
}
