.uwidget__content {
	display: flex;
	padding: 10px 14px;
	align-items: center;
}

.uwidget__item {
	cursor: pointer;
}
.uwidget__style {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	justify-content: center;
	font-size: 14px;
	gap: 5px;
}

.uwidget__style {
	background-color: #dde0ff;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	border-radius: 16px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(255, 255, 255, 0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	min-height: 330px;
}
.uwidget__item-title {
	font-size: 10px;
	font-weight: 700;
	align-self: flex-start;
}

.uwidget__style:hover {
	transform: translateY(-2px);
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15),
		0 4px 6px rgba(255, 255, 255, 0.25);
}

/* .secondary {
	color: #fff;
	background: #49fec3;
	background: linear-gradient(135deg, #49fec3, #037bed);
} */

.uwidget__btn {
	background: rgba(255, 255, 255, 0.081);
}

.black-gradient {
	color: #fff;
	background: linear-gradient(
		112.1deg,
		rgb(32, 38, 57) 11.4%,
		rgb(63, 76, 119) 70.2%
	);
}

.tertiary {
	color: #fff;
	background: #ee698e;
	background: linear-gradient(135deg, #ee698e, #dbe4d9);
}

/* .secondary {
	color: #fff;
	background: #49fec3;
	background: linear-gradient(135deg, #49fec3, #037bed);
} */
