.uwidget__content {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
	padding: 16px;
	background: red;
}

.uwidget__style {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 10px;
	padding: 30px 30px 30px 30px;
	/* max-width: 146px; */
}

.uwidget__style {
	/* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
	/* background-color: #c7f4c2; */
	background-color: #dde0ff;
	color: #000000e4;
	font-weight: 600;
	font-size: 16px;
	border-radius: 16px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(255, 255, 255, 0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.uwidget__style:hover {
	transform: translateY(-2px);
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15),
		0 4px 6px rgba(255, 255, 255, 0.25);
}
