.panel-control-token {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.add-token {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #607d8b;
}
