body[data-theme="day"] {
	background: linear-gradient(to bottom, #87cefa, #f0f8ff); /* Голубое небо */
	color: #333;
	transition: background 0.5s, color 0.5s;
}

body[data-theme="night"] {
	background: linear-gradient(to bottom, #2f4f4f, #000); /* Тёмное небо */
	color: #eee;
	transition: background 0.5s, color 0.5s;
}

/* Контейнер переключателя */
.switcher__content {
	position: relative;
	min-height: 35px;
	min-width: 100px;
	background: #ddd;
	border-radius: 35px;
	transition: background 0.4s ease;
}

.switcher__toggle {
	cursor: pointer;
	width: max-content;
}

.switcher__toggle.light .switcher__content {
	position: absolute;
	right: 27px;
	bottom: 48%;

	background-image: url("../../../assets/sun-darkMode2.png");
	background-size: cover;
	background-position: 6px 27%;
}

.switcher__toggle.dark .switcher__content {
	background-image: url("../../../assets/moon-darkMode.png");
	background-size: cover;
}

.switcher__toggle.dark .slider {
	transform: translateX(70px);
}

.switcher__toggle-icon {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	z-index: 2;
	transition: transform 0.4s ease, left 0.4s ease, right 0.4s ease;
}

.slider {
	position: absolute;
	top: 5px;
	left: 3px;
	max-width: 23px;
	width: 100%;
	min-height: 23px;
	background: rgba(255, 255, 255, 0.498);
	border-radius: 50%;
	transition: transform 0.4s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
	/* min-height: 40px; */
	/* max-width: 40px; */
}

.slider:hover:not(:focus-visible) {
	background: rgba(255, 255, 255, 0.863);
}

.icon-left {
	left: 25%; /* Для 🌙 */
	animation: glowMoon 2s infinite alternate;
}

.icon-right {
	left: 75%; /* Для ☀️ */
	animation: glowSun 2s infinite alternate;
}

@keyframes glowMoon {
	from {
		text-shadow: 0 0 8px #fff, 0 0 16px #aaa;
	}
	to {
		text-shadow: 0 0 15px #fff, 0 0 30px #aaa;
	}
}

@keyframes glowSun {
	from {
		text-shadow: 0 0 8px #ffd700, 0 0 16px #ffa500;
	}
	to {
		text-shadow: 0 0 15px #ffd700, 0 0 30px #ffa500;
	}
}
