.form-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 380px;
  min-width: 300px;
}

.form-auth_form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.reg_inp {
  padding: 15px;
  width: 100%;
  outline: none;
  border: 1px solid var(--edo-inp-border);
  border-radius: 10px;
  text-align: start;
}

.reg_inp:hover {
  border: 1px solid var(--edo-inp-hvr-border);
  transition: all 300ms;
}

.reg_inp:focus {
  border: 1px solid var(--edo-inp-hvr-border);
}

.form_errors-text {
  color: var(--red);
}

.Toastify__toast {
  background: linear-gradient(to right, #c6792f, #b81b23) !important;
  color: #fff !important;
  border-radius: 8px !important;
  /* padding: 20px !important; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
}

.Toastify__progress-bar {
  background-color: rgb(255, 242, 0) !important;
}

.Toastify__close-button {
  color: white !important;
  font-size: 16px !important;
  transition: color 0.3s !important;
}

.Toastify__close-button--dark {
  font-size: 30px !important;
  top: 0 !important;
}

.Toastify__close-button:hover {
  color: #ffc107 !important;
}
