*,
*::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-transform: none;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	font-family: "Mulish";
}

:root {
	--white: #fff;
	--red: red;
	--navbottom-bg: #fafdff;
	--navbottom-links-bottom-line: rgba(184, 184, 184, 0.667);
	--blackRgba: rgba(40, 39, 38, 0.579);
	--black: #000;
	--navbottom-underline: rgb(63, 178, 184);
	--km-content: rgb(255, 252, 246);

	--skillbox-hvr: #ebebeb;
	--links-outline: #d9d9d9;
	--edo-color: #587380;
	--edo-nav-color: #0f172a;
	--edo-zayavki-color: #11142d;
	--edo-hvr-btn: #3d4f58;
	--edo-fs-btn: #607d8b;
	--edo-text-color: rgb(96, 125, 139);
	--edo-bg-img: linear-gradient(
		90deg,
		rgb(243, 231, 233) 0%,
		rgb(227, 238, 255) 99%,
		rgb(227, 238, 255) 100%
	);
	--inp-bg: rgba(194, 194, 194, 0.295);
	--inp-outline-focus: rgb(39, 151, 255);
	--loader-items: rgb(226, 226, 226);

	--inp-border: #ccc;
}

a:active {
	color: var(--blackRgba);
}

input,
select,
textarea {
	background-color: var(--inp-bg);
	border-radius: 10px;
	max-width: 200px;
	width: 100%;
	border: 1px solid var(--inp-border);
	border-radius: 10px;
	outline: none;
	padding: 13px 13px 13px 13px;
}

@font-face {
	font-family: "Mulish";
	src: local("Muller-SemiBold"),
		url("./assets/fonts/Mulish/Mulish-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Mulish";
	src: url("./assets//fonts//Mulish/Mulish-Light.woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Mulish";
	src: url("./assets//fonts//Mulish/Mulish-Regular.woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Global classes */
.sections {
	padding-top: 10px;
	padding-bottom: 20px;
}

.container {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 75px;
}

.sections__title {
	font-size: 22px;
	font-weight: 600;
}

.sections__desc {
	font-size: 14px;
	font-weight: 400;
}

.btn {
	border: none;
	border-radius: 10px;
}

.pagination__content {
	display: flex;
	justify-content: center;
	align-items: center;
}
