@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

.sections.navigation__section {
	background-color: #fff;
}
/* DarkMode */
.profile.dark-mode .navigation__section {
	background-color: linear-gradient(
		112.1deg,
		rgb(32, 38, 57) 11.4%,
		rgb(63, 76, 119) 70.2%
	);
}

/* DarkMode */

.navigation__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}

.user_info {
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 15px;
	border-radius: 5px;
	position: relative;
}

/* .user_info::before {
	content: "";
	position: absolute;
	background-image: url("../../../assets/icons/twitter-verification.svg");
	max-width: 13px;
	width: 100%;
	min-height: 13px;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;
	border-radius: 100%;
	top: 0;
	right: 52%;
	background-color: rgb(14, 253, 173);
} */

.nav__verification--icon {
	content: "";
	position: absolute;
	top: 0;
	right: 5px;
	background-color: rgb(14, 253, 173);
	border-radius: 100%;
	right: 40%;
}

/* .nav__verification--icon path {
} */

.user_info:hover {
	background-color: #f1f5f90e;
	cursor: pointer;
}

.user_info-icon {
	background-color: #e2e8f0;
	padding: 5px;
	border-radius: 10px;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
}

.settings {
	display: flex;
	gap: 10px;
	align-items: center;
}

/* User account */

.nav_info-list {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.info_list-item {
	display: flex;
	gap: 10px;
	align-items: center;
	font-size: 12px;
	line-height: 16px;
}

.mulish-info-list-item {
	font-family: "Mulish", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.nav__log-account {
	display: flex;
	align-items: center;
	gap: 20px;
	color: #000;
}

.account-text {
	font-weight: 700;
	color: #000;
	font-size: 18px;
}

.navigation__section.dark-mode .account-text p {
	color: #fff;
}

.navigation__section.dark-mode .settings svg:nth-child(1) {
	fill: #fff;
}

.navigation__section.dark-mode .settings svg:nth-child(3) {
	fill: #fff;
}
