.navbottom__content {
  overflow-x: auto;
}
.navbottom__links {
  display: flex;
  position: relative;
  overflow-x: auto;
  /* width: 100%; */
  padding-top: 10px;
  padding-bottom: 20px;
}

.navbottom_item {
  position: relative;
  color: #475569;
  border-bottom: 4px solid #94a3b8;
  text-align: start;
  padding: 16px 24px;
  white-space: nowrap;
  font-weight: 600;
  display: flex;
  gap: 5px;
}

.navbottom_item:hover {
  background-color: #f1f5f9;
  border-bottom-color: #009688;
}

.navbottom__moduls-icons {
  display: flex;
  align-items: center;
  gap: 6px;
}
