.uevents__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	background: linear-gradient(135deg, #981bbbd8, #4bc9e5);
	background-color: #bfb5ff;
	border-radius: 20px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(255, 255, 255, 0.2);
	padding: 10px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	font-size: 12px;
	min-width: 125px;
	min-height: 140px;
	margin-bottom: 10px;
}

.uevents__card:hover {
	transform: translateY(-8px);
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15),
		0 4px 6px rgba(255, 255, 255, 0.25);
}

.uevents__content {
	display: flex;
	flex-direction: column;
}

.uevents-done-btn {
	display: flex;
}

.uevents-done-btn svg {
	border-radius: 100%;
}

.uevents-done-btn--isdone svg path {
	fill: rgb(26, 248, 26);
	transition: fill 0.1s ease-in-out;
}

.uevents-done-btn--notdone svg path {
	fill: rgba(255, 0, 0, 0.699);
	transition: fill 0.1s ease-in-out;
}

.uevents-done-btn--notdone svg:hover path {
	fill: red;
}

/* DarkMode */

.profile.dark-mode .uevents-done-btn--isdone svg {
	fill: rgba(100, 255, 86, 0.837);
}
/* DarkMode */
