.services-modal {
  width: 100%;
  height: 100%;
  background-color: #00000030;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal-info-services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
  height: 100%;
  /* padding: 10px 15px; */
  background-color: #fff;
}

.services-modal .content {
  background-color: #fff;
  width: 60%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px !important;
  overflow: hidden;
}

.panel-control-buttons-services {
  display: flex;
  justify-content: end;
  flex-direction: row;
  width: 100%;
  border-bottom: 0px;
  padding-bottom: 10px;
  padding-right: 15px;
}

.table-service-list {
  width: 100%;
  border-collapse: collapse;
}

.table-service-list th,
.table-service-list td {
  padding: 10px 20px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 15px;
}

.table-service-list td {
  word-wrap: break-word;
  padding: 5px 20px;
}

.table-service-list th {
  background-color: #f2f2f2;
}

.table-service-list td:first-child {
  max-width: 300px;
}

.table-service-list tr:hover {
  background-color: #00000007;
  cursor: pointer;
  transition: all 0.1s;
}

.selected {
  background-color: #00ab4a;
  color: #fff;
}

.table-service-list tr.selected:hover {
  background-color: rgba(0, 168, 73, 0.839);
  cursor: pointer;
}
