.profile__container {
	max-width: 1920px;
	padding: 0 20px;
	margin: 0 auto;
}
.profile_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.profile_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.wrapper-profile {
	align-items: stretch;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(200px, 1fr);
	grid-template-rows: repeat(6, fr);
	gap: 30px;
}

.profile_style {
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	gap: 20px;
	padding: 5px;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.profile_left {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	gap: 20px;
	padding: 30px;
	border: 1px solid #0000000f;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	max-height: max-content;
	position: fixed;
	/* min-height: 520px; */
	min-height: 723px;
	max-width: 300px;
}

.profile_center {
	grid-area: profileCenter;
	grid-column: 3/9;
	grid-row: 1/5;
}

.profile__center_widgets {
	display: grid;
	grid-template-columns: repeat(12, 1fr); /* 12 колонок */
	grid-template-rows: repeat(3, 1fr); /* Автоматическая высота для строк */
	gap: 10px;
}

.profile__center_widget1 {
	grid-column: 8 / 13; /* Виджет занимает все 12 колонок */
}

.profile__center_widget2 {
	grid-column: 7 / 13; /* Виджет занимает 6 колонок */
}

.profile__center_widget3 {
	grid-column: 7 / 13; /* Виджет занимает 6 колонок */
}

.profile_right {
	grid-area: profileRight;
	grid-column: 9/13;
	grid-row: 1/5;
}

/* UbottomLink */

.profilebottomnav__content {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	grid-template-rows: repeat(6, minmax(200px, 1fr));
}

.profilebottom__items {
	display: flex;
	justify-content: center;
	gap: 20px;
	position: relative;
	overflow-x: auto;
	padding-bottom: 20px;
	padding-top: 20px;
	grid-column: 3 / 12;
	grid-row: span 1 / 1;
}

.profilebottomnav__link {
	border-bottom: 4px solid #94a3b8;
	width: 100%;
	text-align: center;
	padding: 20px;
}

.profilebottomnav__link:hover:not(:focus-visible) {
	background-color: #f3f9f1;
	background-color: #00968743;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-color: #009688;
	color: #fff;
}

.uaccordion_label {
	display: flex;
	align-items: center;
	gap: 10px;
}

.accordionDetails_links {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.accordionDetails_links a {
	text-decoration: none;
	color: #333;
	font-size: 18px;
	text-decoration: underline;
}

.ulins_sublinks {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.MuiPaper-root {
	box-shadow: none;
}

/* Информация про организацию */

.uorg_content {
	display: flex;
	gap: 20px;
	min-height: 400px;
}

.uorg_info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.uright_info {
	align-self: flex-start;
}

.uidentify_link {
	padding: 10px;
}
