.security-content {
}

.panel-control-security {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0px 20px;
}

.security-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #607d8b;
  font-weight: 600;
}

.table-container-security {
  overflow-x: auto; /* Включает горизонтальный скролл */
  margin-top: 20px; /* Добавьте отступ для лучшего визуального восприятия */
}

.table-security-list {
  width: 100%;
  border-collapse: collapse;
}

.table-security-list th,
.table-security-list td {
  padding: 10px 20px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

td .content {
  display: flex;
  align-items: center;
  gap: 5px;
}

.table-security-list td {
  padding: 5px 20px;
  max-width: 200px;
}

.table-security-list th {
  background-color: #f2f2f2;
}

.table-security-list td:first-child {
  max-width: 300px;
}

.passive-user {
  background-color: #ff000030;
}
